# Dependencies
node_modules/
.npm
.yarn

# Build Output
dist/
out/
build/

# Angular
.angular/
.sass-cache/
connect.lock
coverage/
libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
typings/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database
*.sqlite
*.sqlite3
mysql_data/
